<header class="header py-6">
    <div class="container d-flex justify-content-between">
      <a href="#" class="text-dark d-md-none">
        <span class="material-icons">
          menu
        </span>
      </a>
      <h1 class="logo">
        <a href="index.html">ALOHA</a>
      </h1>
      <a href="logIn.html" class="text-dark d-md-none">
        Login
      </a>
      <ul class="list-unstyled d-md-flex d-none">
        <li class="ml-10">
          <a class="text-dark" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="material-icons">
              language
            </span>
            <span class="material-icons">
              arrow_drop_down
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">中文</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
        <li class="ml-10"><a href="#" class="text-dark">sign up</a></li>
        <li class="ml-10"><a href="logIn.html" class="text-dark">log In</a></li>
      </ul>
    </div>
</header>