<div class="subscribe-lg w-100 bg-gray">
    <div class="container h-100">
      <div class="content row">
        <h2 class="title col-md-12 text-center mb-5">Subscribe for Exclusive Offer</h2>
        <div class="input-group col-md-6 offset-md-3">
            <input type="text" class="form-control py-7 px-5" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary text-white px-7 py-4" type="button" id="button-addon2">Button</button>
            </div>
        </div>
      </div>
    </div>
</div>