<div class="subscribe-sm bg-gray">
    <div class="container">
        <div class="row align-items-center py-6">
            <div class="col-lg-5 col-md-4 col-12">
                <h2 class="title text-center">Subscribe for Exclusive Offer</h2>
            </div>
            <div class="col-lg-7 col-md-8 col-12">
                <div class="input-group">
                    <input type="text" class="form-control py-7 px-5" placeholder="Your email address" aria-label="Your email address" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary text-white px-7 py-4" type="submit" id="button-addon2">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>