.star{
    height: 18px;
    background-image: url('../images/star.png');      
}
.five{
    width: 90px;
}
.four{
    width: 72px;
}
.three{
    width: 54px;
}
.two{
    width: 36px;
}
.one{
    width: 18px;
}