.search{
    z-index: 100;
    transform: translateY(-50%);
    .search-inner{
        height: 100%;
        .dropdown{
            .dropdown-menu{
                transform: translate3d(0px, 55px, 0px) !important;
                z-index: 1000;
            }
        }
        .guest{
            .roomQuantity{
                width: 26px;
            }
        }
        .searchBtn{
            @include pad(){
                width: 100%;
            }
        }
    }
    @include pad(){
        transform: translateY(-29%);
    }
}

.bangkok .search{
    z-index: 100;
    transform: translateY(0);
    .checkIn{
        width: 30%;
    }
    .dropdown{
        @include pad(){
            width: 25%;
        }
    }
}