.subscribe-lg{
    height: 320px;
    .content{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .title{
            font-size: 48px;
            @include mobile(){
                font-size: 24px;
            }
        }
    }
}

.subscribe-sm{
    .title{
        font-size: 32px;
        @include pad(){
            font-size: 24px;
        }
    }
}