@each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $value in $font-size {
        @include media-breakpoint-up($breakpoint) {
            $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        
                .text#{$infix}-#{$size}{
                    @include font-size($value)
                }
          }
    }
}

h2, h3{
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4{
    font-weight: bold;
}
.menu{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}
.raleWay{
    font-family: 'Raleway', sans-serif;
}
.bold{
    font-weight: bold;
}

