.font{
    &-xs{
        font-size: 10px;
    }
    &-sm{
        font-size: 12px;
    }
    &-md{
        font-size: 14px;
    }
    &-lg{
        font-size: 16px;
    }
    &-xl{
        font-size: 20px;
    }
    &-xxl{
        font-size: 24px;
    }
}

h2, h3{
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4{
    font-weight: bold;
}
.menu{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 32px;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}
.raleWay{
    font-family: 'Raleway', sans-serif;
}
.bold{
    font-weight: bold;
}

