.logo{
    a{
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week8/logo-aloha.svg');
        display: block;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        width: 96px;
        height: 24px;        
    }
    
}
