.bangkok{
    .title{
        @include pad(){
            font-size: 32px;
        }
    }    
    .range{
        border-bottom: 2px solid $primary;
    }
    .radius_prepend{
        top: 0;
        left: 0;
        transform: translate(-50%, -42%);
        background-color: $primary;
        width: 12px;
        height: 12px;
        border: 1px solid $primary;
        border-radius: 50%;
    }
    .radius_append{
        top: 0;
        right: 0;
        transform: translate(50%, -42%);
        background-color: $primary;
        width: 12px;
        height: 12px;
        border: 1px solid $primary;
        border-radius: 50%;
    }
    .minPrice, .maxPrice{
        width: 40%;
    }
    .minPrice_pad p{
        @include pad(){
            border-right: 1px solid $gray;
        }
    }
    .star{
        margin-top: 3px;
    }   
    .pagniation{
        margin: 0 auto;
        .mobile_previou, .mobile_next{
            line-height: 0;
        }
    }
}