.bangkok{
    .title{
        @include pad(){
            font-size: 32px;
        }
    }    
    .budget{
        height: 5px;
        background-color: $gray-500;
    }
    .minPrice, .maxPrice{
        width: 40%;
    }
    .minPrice_pad p{
        @include pad(){
            border-right: 1px solid $gray;
        }
    }
    .star{
        margin-top: 3px;
    }   
    .pagniation{
        margin: 0 auto;
        .mobile_previou, .mobile_next{
            line-height: 0;
        }
    }
}